{% extends "_base.html" %}
{% load static %}
{% block title %} FOOD1 {% endblock %}

{% block content %}
<div class="text-3xl underline mt-2 mb-10 font-Porm" style="text-align: center;"><p>อาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพตามวิถีภูมิปัญญาท้องถิ่นของจังหวัดอุบลราชธานี</p></div>

<div class="border-2 border-yellow-500 mr-20 ml-20  " style="text-align: center;" >

    <div class="flex justify-center">
        <img class="pt-4" src="{% static 'images/f0101.jpg' %}">
    </div>

    
    <p  class="font-Mitr" style="font-size: 30px;">เมี่ยงคำกลีบบัวหลวงแบบโบราณ</p>
    <p class="font-Sara">เมี่ยงคำกลีบบัวหลวง เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น 
        ของจังหวัดอุบลราชธานี มีความโดดเด่นและมีเอกลักษณ์ที่มีความประณีตสวยงาม 
        เป็นต้นตำรับเมนูสมุนไพรของคนไทยโบราณที่มีมาช้านานทั้งในเรื่องของรสชาติที่กลมกล่อม
         เครื่องปรุงล้วนเป็นสมุนไพรจากธรรมชาติ มีคุณค่าทางสมุนไพรสูง 
         เพราะมีคุณสมบัติในการบำรุงรักษาธาตุทั้ง 4 เพื่อให้สมดุลกัน กลีบบัวหลวง 
         มีสีสันสวยงาม มีสรรพคุณบำรุงร่างกาย ห้ามเลือด มีเส้นใยอาหารสูง 
         และกระตุ้นการขับถ่ายเป็นยาสมานแผล ช่วยบำรุงร่างกายบำรุงหัวใจ ลดความดันโลหิตสูง 
         และลดระดับน้ำตาลในเลือดได้ โดยมีเครื่องเคียงที่มีพืชผักสมุนไพรที่ถูกหั่นออกเป็นชิ้นเล็กๆความความประณีตในการหั่น 
         ซอย เครื่อง หัวหอมแดง ขิง พริก มะนาว ต้องหั่นให้เป็นชิ้นสี่เหลี่ยมลูกเต๋าสวยงาม ถั่วลิสงคั่ว 
         แล้วเรียงเม็ดจัดให้เท่ากัน แถมด้วยความกรุบกรอบของมะพร้าวคั่วที่นำเนื้อมะพร้าวแก่แต่ไม่แข็งจนเกินไป 
         นำมาหั่นบางเท่ากัน ก่อนนำไปอบและคั่วด้วยไฟอ่อนๆจนหอมกรุ่นมะพร้าว เป็นสีเหลืองน้ำตาลอ่อน เมื่อห่อรวมกันเข้าแล้ว ราดด้วยน้ำเมี่ยงคำหวาน 
         เวลารับประทานจะได้รสชาติของสมุนไพรพื้นบ้านทุกคำ จึงมีประโยชน์ต่อสุขภาพสูงมาก ลดอัตราเสี่ยงต่อการเกิดโรค เช่น โรคไขมันในเลือดสูง 
         โรคหัวใจและหลอดเลือด โรคความดันโลหิตสูง โรคเบาหวาน เป็นต้น</p>



         <div class="flex justify-center space-x-2">
            <div class="w-75">
                <img class="inline-block pt-3" src="{% static 'images/f0102.jpg' %}">
            </div>
            <div class="w-75">
                <img class="inline-block pt-3" src="{% static 'images/f0103.jpg' %}">
            </div>
        </div>
    
    

    <br><p class="font-Sara">ประโยชน์ของสมุนไพรที่มีสรรพคุณต่อสุขภาพ</p>
    <p class="font-Sara">  มะพร้าวคั่ว เป็นสมุนไพรที่นำเนื้อมะพร้าวแก่แต่ไม่แข็งจนเกินไป นำมาหั่นบางๆ ก่อนนำไปอบและคั่วจนหอมกรุ่นมะพร้าว เป็นสีเหลืองน้ำตาลอ่อน มีสรรพคุณช่วยบำรุงกำลัง บำรุงเส้นเอ็น ใช้รักษาโรคกระดูก อีกทั้งในเนื้อมะพร้าวยังมีกรดไขมันอิ่มตัวและคาร์โบไฮเดรตชนิดดี ที่จะทำให้ช่วยลดระดับไขมันในเส้นเลือดได้
   </p>
   <br><p class="font-Sara"> พริกขี้หนู เป็นสมุนไพรที่มีส่วนช่วยแต่งรสชาติและสีให้อาหารนานาชนิด มีการนำมาใช้ในการประกอบอาหาร เพื่อเพิ่มความเผ็ดทำให้อาหารมีรสชาติที่อร่อยยิ่งขึ้น มีสรรพคุณทำให้ระบบการเผาผลาญทำงานได้ดี ส่งผลให้ สามารถช่วยลดน้ำหนักได้ อีกทั้งพริกยังมีวิตามินซีสูง ที่จะช่วยขยายเส้นเลือดในลำไส้และกระเพาะอาหาร ทำให้ร่างกายดูดซึมสารอาหารได้เป็นอย่างดี และยังมีส่วนช่วยกระตุ้นระบบการขับถ่ายให้ทำงานอย่างเป็นปกติอีกด้วย
</p>
<br><p class="font-Sara"> มะนาว เป็นสมุนไพรที่ จัดว่าเป็นได้ทั้งผักและผลไม้ในตัวเดียวกัน เนื้อในของมะนาวอุดมไปด้วยน้ำที่มีรสเปรี้ยว เป็นเครื่องปรุงรสอาหารไทยซึ่งเป็นสัญลักษณ์ที่โดดเด่น ที่มีสรรพคุณทางยา สามารถช่วยลดอาการไอ ขับเสมหะ เนื่องจากในน้ำมะนาวมีกรดอินทรีย์หลายชนิด มีรสเปรี้ยวกระตุ้นให้มีการขับน้ำลาย ทำให้ชุ่มคอ จึงช่วยลดอาการไอได้ มะนาว ยังเป็น สมุนไพรแก้ท้องอืด ท้องเฟ้อ และช่วยในการขับลม ได้เป็นอย่างดี อีกทั้งยังอุดมไปด้วยวิตามินซี ซึ่งช่วย เสริมสร้างระบบภูมิคุ้มกันและป้องกันโรคหวัดได้ดีด้วย
</p>
<br><p class="font-Sara">    หอมแดง เป็นสมุนไพรที่มีการนำมาใช้ในการประกอบอาหารที่มีสรรพคุณทางยาสามารถ ขับลมในลำไส้ แก้ปวดท้อง บำรุงธาตุ แก้หวัดคัดจมูก อีกทั้งยังช่วยทำให้ระบบย่อยอาหารดี เจริญอาหาร ทำให้ความดันโลหิตต่ำ ลดไขมันในเลือดได้ดีด้วย
</p>
<br><p class="font-Sara"> ถั่วลิสงคั่ว เป็นสมุนไพรที่นำมาใช้เป็นอาหารคือเมล็ด ที่เอาเปลือกนอกออกแล้ว ที่มีการนำมาใช้ในการประกอบอาหารที่มีสรรพคุณทางยา ช่วยลดความดันโลหิตสูง ลดความเสี่ยงของโรคเบาหวาน ช่วยป้องกันโรคหัวใจ เนื่องจากในถั่วลิสงมีสารที่ช่วยลดระดับคอเลสเตอรอล จึงช่วยลดความเสี่ยงของภาวะไขมันอุดตันในเส้นเลือดและภาวะหลอดเลือดแข็งตัว ซึ่งเป็นสาเหตุของการเกิดโรคหัวใจได้
</p>
<br><p class="font-Sara"> จึงถือได้ว่า เมี่ยงคำกลีบบัวหลวง เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ของจังหวัดอุบลราชธานี มีความโดดเด่นและมีเอกลักษณ์ ของความเป็นไทย ภายในเมี่ยงหนึ่งคำ ล้วนแฝงไปด้วยความประณีต บรรจง ของเครื่องเคียงที่อยู่ภายใน มีคุณค่าทางโภชนาการ และสรรพคุณทางยาจากพืชผักสมุนไพรพื้นบ้านที่มีประโยชน์นานาชนิด เป็นวัฒนธรรมอาหารที่ควรอนุรักษ์ และยังแสดงออกถึงภูมิปัญญาท้องถิ่น ถือเป็นภูมิปัญญาไทยและมรดกทางวัฒนธรรมอาหารพื้นเมืองที่ต้องรักษาสืบทอดกันต่อไป
</p>

</div>

{% endblock content %}